<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cd_turma %><br>
    <%= f.text_field :cd_turma %>
  </div>
  <div class="field">
    <%= f.label :dt_inicio %><br>
    <%= f.date_select :dt_inicio %>
  </div>
  <div class="field">
    <%= f.label :dt_fim %><br>
    <%= f.date_select :dt_fim %>
  </div>
  <div class="field">
    <%= f.label :dt_abertura_inscricao %><br>
    <%= f.date_select :dt_abertura_inscricao %>
  </div>
  <div class="field">
    <%= f.label :dt_fim_inscricao %><br>
    <%= f.date_select :dt_fim_inscricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
